services:
  libretranslate:
    image: libretranslate/libretranslate
    container_name: libretranslate
    restart: unless-stopped
    ports:
      - "5001:5000"
    environment:
      - LT_DISABLE_CORS=true
    command: [ "--load-only", "en,pl" ]
